* {
  font-family: Nunito, sans-serif;
  font-weight: bolder;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  display: inline-flex;
  color: rgb(20, 6, 177);
  text-align: center;
  font-weight: bold;
  margin-block: 0px;
  padding-block: 0px;
  justify-content: center;
}

h1 {
  font-size: 50px;
  font-weight: bolder;
  flex-direction: column-reverse;
  justify-content: center;
}

h2 {
  font-size: 35px;
  margin: 5px;
}

h3 {
  font-size: 28px;
  padding: 10px;
}

div {
  padding: 0px;
  position: inherit;
  max-width: 100%;
}

body {
  background-image: linear-gradient(to right, #ff0000, #ffff00, #fbb000);
  font-size: 20px;
  text-align: center;
}

p {
  display: inline-flex;
  font-size: 22px;
  text-align: center;
  margin: 0px 330px 36px 41px;
  flex-direction: column;
  color: rgb(20, 6, 177);
}

.emoji-container {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}

.space-around {
  justify-content: space-around;
}

.mood-emoji {
  width: 5%;
}

/* .allButtonsContainer {
margin-top: 100px;
} */

#display {
  display: inline-flex;
  color: rgb(255, 196, 0);
  width: auto;
  background-color: rgb(20, 6, 130);
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
}

.cat {
  padding-bottom: 15px;
  padding-top: 5px;
}

#jokeBtn,
#memeBtn {
  padding: 20px;
  border-style: inset;
  border-color: whitesmoke;
  background-color: transparent;
  cursor: pointer;
  font-size: 30px;
  border-radius: 10px;
  color: rgb(20, 6, 177);
}

#jokeBtn {
  padding: 12px 30px 12px 30px;
  }


#likeBtn,
#disBtn {
  display: flex;
  padding: 1rem 1rem;
  border-style: inset;
  border-color: whitesmoke;
  background-color: transparent;
  cursor: pointer;
  font-size: 30px;
  border-radius: 10px;
  color: rgb(20, 6, 177);
  vertical-align: middle; 
  margin: 15px;

} 

  /* border-style: inset;
  border-color: whitesmoke;
  background-color: transparent;
  cursor: pointer;
  font-size: 30px;
  border-radius: 10px;
  color: rgb(20, 6, 177);
  margin-top: 200px; */


#likeBtn {
  padding: 20px;
}

#disBtn {
  padding: 15px;
}

#results {
  display: inline-flex;
  margin-top: 125px;
  padding: 35px;
  background-color: transparent;
  padding-block: 20px;
  cursor: pointer;
  font-size: 30px;
  color: rgb(20, 6, 177);
}



.getChoice {
  display: flex;
  padding: 0px;
  flex-direction: column;
  align-items: center;
}

/* .likeBtn,
.disBtn {
  background-color: transparent;
  border-width: 10px;
  /* border-color: black; */
/* font-size: 17px;
  color: rgb(20, 6, 177); */
/* padding: 5px 5px; */
/* margin-top: 100px;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  text-align: center;
} */

#favoritesBtn {
  display: flex;
  font-weight: bolder;
  margin: 0px;
  padding-left: 15px;
  border-style: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 35px;
  justify-content: left;
  color: rgb(22, 9, 164);
  text-decoration: none;
}

#container {
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.jokeContainer {
  display: inline-block;
  margin-top: 0px;
  margin-right: 0px;
  font-size: 25px;
  font-weight: bold;
}

.memeContainer {
  display: inline-block;
  margin-top: 0px;
  margin-right: 0px;
  font-size: 25px;
  font-weight: bold;
}

img {
  border: purple;
  margin: 5px;
}


#displayJokeStorage {
  align-items: left;
  margin-top: 145rem;
}

#displayMemeStorage {
  align-items: center;
  margin-top: 475px;
  margin-right: 300px;
}

#return,
a {
  display: flex;
  font-weight: bolder;
  margin: 0px;
  padding-left: 15px;
  border-style: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 35px;
  justify-content: left;
  color: rgb(20, 6, 177);
  text-decoration: none;
}

.or {
  font-size: 2.5rem;
  margin: 15px;
}

.hide {
  display: none;
}

/* On screens that are 992px wide or less, go from four columns to two columns */
/* @media screen and (max-width: 992px) {
  .column {
    width: 50%;
  }
} */

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
/* @media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
} */